@font-face {
	font-family: 'sanf';
	src: url('../../assets/fonts/SF-Pro-Display-Regular.otf');
	font-weight: 600;
	font-style: normal;
}
.testCSS {
	color: red;
	background: none;
	font-family: 'sanf';
}
.btn  {
	font-family: 'sanf';
}
